<% provide(:title, 'Inicio') %>

<div class="col-sm-12">
  <div class="block-flat profile-info">
    <div class="row">
      <div class="col-sm-9">
        <div class="personal">
          <h1>Bienvenido a tu sucursal electrónica</h1>
          <p class="description">Haz tus transferencias y consultas en linea, de una manera rápida y sencilla.</p><p>
          <% unless current_user %>
          <%= link_to "Registrate", new_user_registration_path, class: "btn btn-primary fa fa-check" %>
          <% end %>
        </p></div>
      </div>

    </div>
  </div>
</div>

<div class="stats_bar">
  <div class="butpro butstyle" data-step="2" data-intro="<strong>Beautiful Elements</strong> <br/> If you are looking for a different UI, this is for you!.">
    <div class="sub"><h2>CLIENTES</h2><span id="total_clientes"><%= @users_count %></span></div>
    <div class="stat"><i class="fa fa-users"></i></div>
  </div>
  <div class="butpro butstyle">
    <div class="sub"><h2>Transacciones</h2><span>450</span></div>
    <div class="stat"><i class="fa fa-bomb"></i></div>
  </div>
  <div class="butpro butstyle">
    <div class="sub"><h2>VISITS</h2><span>125</span></div>
    <div class="stat"><span class="down"> 20,7%</span></div>
  </div>
  <div class="butpro butstyle">
    <div class="sub"><h2>NEW USERS</h2><span>18</span></div>
    <div class="stat"><span class="equal"> 0%</span></div>
  </div>
  <div class="butpro butstyle">
    <div class="sub"><h2>AVERAGE</h2><span>3%</span></div>
    <div class="stat"><span class="spk2"><canvas width="80" height="13" style="display: inline-block; width: 80px; height: 13px; vertical-align: top;"></canvas></span></div>
  </div>
  <div class="butpro butstyle">
    <div class="sub"><h2>Downloads</h2><span>184</span></div>
    <div class="stat"><span class="spk3"><canvas width="80" height="13" style="display: inline-block; width: 80px; height: 13px; vertical-align: top;"></canvas></span></div>
  </div>

</div>



