<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @account.user_id %>
</p>
<p>
  <strong>Number:</strong>
  <%= @account.number %>
</p>
<p>
  <strong>Amount:</strong>
  <%= @account.amount %>
</p>

